:root {
    --fontGray: #3C3C3C;
}

* {
    font-family: 'Iceland', cursive;
    color: var(--fontGray);
    margin: 0;
    padding: 0;
}

body {
    background: url(/img/bckgrnd.svg) no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.emojis-top {
    display: table;
    width: 100%;
    position: absolute;
    top: 7em;
}

.emoji {
    width: 100vw; 
    display: table-cell;
    text-align: center;
}

.emoji > img {
    display: inline-block;
}

img {
    max-width: 2em;
    transition: 0.3s
}

div#buttons {
    display: flex;
    justify-content: space-between;
}
h1#title {
    margin: 1em 0 0.5em;
}
h1 {
    font-size: 2em;
}
h1, h3 {
    font-weight: 500;
}
h3#hOneRoundVerdict {
    font-size: 1.3em;
}
h3 {
    font-size: 1.2em;
}
button {
    border: none;
    background: none;
}
div#buttons {
    display: flex;
    gap: 1.3em;
    justify-content: center;
}
button.choice {
    color: black;
    font-size: 1.5em;  
}
#pComputerArr {
    font-size: 1.5em;
    color: var(--fontGray);
    opacity: 0.5;
}
.hSpace {
    margin-top: 0.7em;
}
#userScore, #computerScore {
    font-size: 1.1em;
}
span#spanUserScore {
    color: #11AFAB
}
span#spanComputerScore {
    color: #35D464
}
h1#hFinalScore {
    color: #F09E00;
}
#resetButton {
    margin-bottom: 2em;
    font-size: 1.05em;
}

.emojis-bottom {
    position: absolute;
    width: 100%;
    bottom: 7em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--fontGray);
    opacity: 0.9;
}
a {
    color: #B056F5;
    font-weight: 600;
    text-decoration: none;
}
/* js */
.imgChosenElement {
    max-width: 3em;
}

@media (min-height: 750px) {
    .emojis-top {
        top: 10em;
    }
    .emojis-bottom {
        bottom: 8em;
    }
}
@media (min-width: 450px) {
    img {
        max-width: 2.5em;
    }
    .imgChosenElement {
        max-width: 3.5em;
    }
    .emojis-top, .emojis-bottom {
        width: 80vw;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (min-width: 570px) {
    img {
        max-width: 2.8em;
    }
    .imgChosenElement {
        max-width: 3.8em;
    }
    .emojis-bottom {
        bottom: 7em;
    }
    h1 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 1.5em;
    }
    button.choice,#pComputerArr, h3#hOneRoundVerdict {
        font-size: 1.8em
    }
    #userScore, #computerScore {
        font-size: 1.4em;
    }
    #resetButton {
        font-size: 1.3em;
    }
    footer {
        font-size: 1.2em;
    }
}
@media (min-width: 750px) {
    img {
        max-width: 3.5em;
    }
    .imgChosenElement {
        max-width: 4.5em;
    }
    body {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .emoji {
        width: auto;
        display: block;
    }
    .emojis-top, .emojis-bottom {
        display: flex;
        flex-direction: column;
        gap: 5em;
        width: auto;
        position: absolute;
        transform: none;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
    }
    .emojis-top {
        left: 3em;
    }
    .emojis-bottom {
        right: 3em;
    }
}
@media (min-width: 900px) {
    img {
        max-width: 4em;
    }
    .imgChosenElement {
        max-width: 5em;
    }
    .emojis-top {
        left: 6em;
    }
    .emojis-bottom {
        right: 6em;
    }
}